<!DOCTYPE html>
<html>
<head>
  <title>Firebase Auth</title>
  <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js"></script>
  <script>
    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyD3jFGSwU37sgOaEHVRzY8spF-lyrQOBTE",
        authDomain: "bidmaster-web.firebaseapp.com",
        projectId: "bidmaster-web",
        storageBucket: "bidmaster-web.appspot.com",
        messagingSenderId: "301439865910",
        appId: "1:301439865910:web:8c6a2b655e23aedbd07497",
    };

    // Initialize Firebase
    const app = firebase.initializeApp(firebaseConfig);
    const auth = firebase.auth();

    function login() {
      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;

      auth.signInWithEmailAndPassword(email, password)
        .then((userCredential) => {
          userCredential.user.getIdToken().then((idToken) => {
            // Send idToken to your Django backend for validation
            fetch('/your-django-endpoint', {
              method: 'POST',
              headers: {
                'Authorization': idToken,
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ some: 'data' })
            }).then(response => response.json())
              .then(data => {
                console.log(data);
              }).catch(error => {
                console.error('Error:', error);
              });
          });
        })
        .catch((error) => {
          console.error(error);
        });
    }
  </script>
</head>
<body>
  <input type="email" id="email" placeholder="Email">
  <input type="password" id="password" placeholder="Password">
  <button onclick="login()">Login</button>
</body>
</html>
